*:active,
*:focus {
    outline: none !important;
    box-shadow: none !important;;
}
.bg-black-50{
    background-color:rgba(0,0,0,0.7);
}
.bg-darken{
    background-color: #101010;
}
.algo-mt-5{
    margin-top: 5%;
}
.bg-black-100{
    background-color: black;
}

.page-loader {
    background: rgba(0,0,0,0.4);
}

.page-cover.scrolled.contact-section {
    z-index: 0;
    &::before {
        opacity: 0.75;
    }
}

.s-title {
    font-size: 2.2rem;
}

.footer-bg {
    background: #1d1d1d;
}

.section-footer-a .home-footer {
    margin-top:10px;
    margin-bottom:16px;
}
.youtubeFullScreen {
    width: 800px;
    height: 450px;
    border-radius: 15px;
}
.modalImg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.page-link {
    color: #828282;
}

.icon-mp {
    height:42px !important;
    width:42px !important;
}
.icon-email {
    height:35px !important;
    width:82px !important;
}
.icon-mp-60 {
    height:60px !important;
    width:60px !important;
}
.icon-menu-header {
    width: 2rem !important;
    height: 2rem !important;
}
.pointer {
    cursor:pointer !important;
}
.swiper-product {
    max-width: 600px;
    border-radius: 15px;
    overflow: hidden;
    iframe {
        border-radius: 15px;
        pointer-events:none;
    }
    #youtubeWrapper {
        cursor: pointer;
    }
}

.swiper-pagination-bullet-active {
    background: #000;
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.menu-toggler.menu-visible {
    .fa-search{
        font-size: 130%;
        &:before {
            content: "\F00D";
        }
    }
    input {
        pointer-events:none;
    }
}
