@media only screen and (max-width: 768px) {
    .modal-content {
        width: 100%;
    }
    .top-margin {
        margin-top: 80px;
    }

    .swiper-product {
        iframe {
           max-height: 350px !important;
           width: 100% !important;
        }
        img {
            border-radius: 15px;
        }
    }

    .new-homeslider {
        margin-top: 80px !important;
    }

}

@media only screen and (max-width: 1024px) {
    .top-spacer {
        padding-top: 8rem;
    }
    .navbar-top .navbar-collapse .navbar-nav .nav-item {
        padding: 0;
    }
    .navbar-top .nav-menu li a {
        line-height: 2;
    }
    .ai-menu {
        width: 100%;
    }
    .ai-menu-content {
        position: relative;
        padding-left: 15px;
        margin-bottom: 15px;
        .py-3 {
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
        }
        a {
            line-height: 1 !important;
        }
    }
    //.ai-menu-content {
    //    margin-top: 10px;
    //    a.d-none {
    //        display: block !important;
    //        padding-left: 30px;
    //    }
    //}
    //.navbar-top .navbar-collapse {
    //    overflow-x: scroll !important;
    //}
}


@media only screen and (max-width: 1199px) {
    .navbar-top .group-right .navbar-toggler {
        right: 70px;
        height: 66px;
        border: none;

        .bd-left{
            border: none;
        }

        i {
            font-size: 26px;
        }

    }
}
@media only screen and (min-width: 1200px){
    .ai-menu {
        position: relative;
        display: inline-block;
        max-width: 75%;
    }

    .ai-menu-content {
        display: none;
        position: absolute;
        min-width: 280px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        top:100%;
        left:0;
        background-color:black;
    }
    .navbar-group {
        max-width: 75%;
    }
}


@media only screen and (min-width: 1600px) {
    .navbar-group {
        max-width: 100%;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1540px !important;
    }
}
